- hosts: app_servers
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Remove existing container (if any)
      docker_container:
        name: myapp
        state: absent
      ignore_errors: yes

    - name: Run application container
      docker_container:
        name: myapp
        image: myapp:1.0
        state: started
        restart_policy: always
        ports:
          - "80:8080"
